.fonts {
  --encore-text-size-smaller-2: 0.6875rem;
  --encore-text-size-smaller: 0.8125rem;
  --encore-text-size-base: 1rem;
  --encore-text-size-larger: 1.25rem;
  --encore-text-size-larger-2: 1.5rem;
  --encore-text-size-larger-3: 2rem;
  --encore-text-size-larger-4: 2.5rem;
  --encore-text-size-larger-5: 3rem;
  --encore-border-width-hairline: 1px;
  --encore-border-width-thin: 2px;
  --encore-border-width-thick: 4px;
  --encore-border-width-thicker: 8px;
  --encore-border-width-focus: 3px;
  --encore-graphic-size-decorative-smaller-2: 12px;
  --encore-graphic-size-decorative-smaller: 16px;
  --encore-graphic-size-decorative-base: 24px;
  --encore-graphic-size-decorative-larger: 32px;
  --encore-graphic-size-decorative-larger-2: 40px;
  --encore-graphic-size-decorative-larger-3: 48px;
  --encore-graphic-size-decorative-larger-4: 64px;
  --encore-graphic-size-decorative-larger-5: 88px;
  --encore-graphic-size-informative-smaller-2: 0.75rem;
  --encore-graphic-size-informative-smaller: 1rem;
  --encore-graphic-size-informative-base: 1.5rem;
  --encore-graphic-size-informative-larger: 2rem;
  --encore-graphic-size-informative-larger-2: 2.5rem;
  --encore-graphic-size-informative-larger-3: 3rem;
  --encore-graphic-size-informative-larger-4: 4rem;
  --encore-graphic-size-informative-larger-5: 5.5rem;
  --encore-spacing-tighter-5: 2px;
  --encore-spacing-tighter-4: 4px;
  --encore-spacing-tighter-3: 6px;
  --encore-spacing-tighter-2: 8px;
  --encore-spacing-tighter: 12px;
  --encore-spacing-base: 16px;
  --encore-spacing-looser: 20px;
  --encore-spacing-looser-2: 24px;
  --encore-spacing-looser-3: 32px;
  --encore-spacing-looser-4: 40px;
  --encore-spacing-looser-5: 48px;
  --encore-spacing-looser-6: 64px;
  --encore-control-size-smaller: 32px;
  --encore-control-size-base: 48px;
  --encore-control-size-larger: 56px;
  --encore-layout-margin-tighter: 16px;
  --encore-layout-margin-base: 16px;
  --encore-layout-margin-looser: 24px;
  --encore-corner-radius-smaller: 2px;
  --encore-corner-radius-base: 4px;
  --encore-corner-radius-larger: 6px;
  --encore-corner-radius-larger-2: 8px;
  --encore-corner-radius-larger-3: 16px;
}

.colors {
  --background-base: #121212;
  --background-highlight: #1f1f1f;
  --background-press: #000;
  --background-elevated-base: #1f1f1f;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #191919;
  --background-tinted-base: hsla(0, 0%, 100%, 0.1);
  --background-tinted-highlight: hsla(0, 0%, 100%, 0.14);
  --background-tinted-press: hsla(0, 0%, 100%, 0.21);
  --text-base: #fff;
  --text-subdued: #b3b3b3;
  --text-bright-accent: #1ed760;
  --text-negative: #f3727f;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #4cb3ff;
  --essential-base: #fff;
  --essential-subdued: #7c7c7c;
  --essential-bright-accent: #1ed760;
  --essential-negative: #ed2c3f;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #4cb3ff;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  max-width: 100vw;
  max-height: 100vh;
  font-family: sans-serif;
  transition: 1.2s ease;
}

/* Header Section  */
.main-header {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  /* justify-content: space-evenly; */
}
.spotify-navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.fa-magnifying-glass {
  position: relative;
  left: 50px;
  top: 17px;
}
.fa-window-restore {
  position: relative;
  right: 50px;
  top: 17px;
}
.search-bar {
  display: flex;
  flex-wrap: wrap;
}
#search {
  width: 35vw;
  height: 40px;
  margin: 8px;
  padding: 5px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #2a2a2a;
  color: #b3b3b3;
  font-size: 16px;
}

.spotify-elements {
  color: #7c7c7c;
  display: flex;
  gap: 15px;
  font-size: 16px;
  font-weight: bold;
}

.log-in-section {
  color: #7c7c7c;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
}

.login-btn {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
}

.border:hover {
  transform: scale(1.1);
}

/* Body Main Section  */

.spotify-main-section {
  display: flex;
}

/* Sidebar Section */

.sidebar-section {
  width: 30vw;
  height: 83vh;
  background-color: #2a2a2a;
  margin: 8px;
  border-radius: 10px;
}

/* .songs-sectionSection  */
.songs-section {
  width: 100%;
  height: 83vh;
  background-color: #2a2a2a;
  margin: 8px;
  border-radius: 10px;
  overflow-y: auto;
  /* scrollbar-color: gray; */
}

.preview-section {
  background: linear-gradient(
    90deg,
    rgba(222, 82, 197, 1) 40%,
    rgba(54, 133, 163, 1) 100%
  );
  width: 90vw;
  height: 15vh;
}
